@using System.Net.Http.Json
@inject HttpClient httpClient
@page "/listbooking"
@inject ISnackbar Snackbar
<style>
    .mud-toolbar.mud-toolbar-gutters.toolbarCustom {
        padding-left: 6px;
        padding-right: 0px;
    }

    .searchcutom.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0px;
    }
</style>
<MudMainContent Class="pt-16 px-16">
    <MudGrid Style="margin-top: 10px; ">
        <MudGrid>
            <MudItem xs="12" Style="margin-top: 10px">
                <MudText Typo="Typo.h5" GutterBottom="true">Danh sách Booking</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudToolBar Class="toolbarCustom">
                    <MudTextField @bind-Value="searchString" Style="width: 50%" Placeholder="Search"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                  Class="mt-0 searchcutom"></MudTextField>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Outlined.Archive" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Print" />


                </MudToolBar>
            </MudItem>
        </MudGrid>

        <MudGrid>
            <MudItem xs="12">
                <MudTable Items="@Elements" FixedHeader="true" Style="white-space: nowrap" Dense="@dense1" Breakpoint="Breakpoint.Sm" HorizontalScrollbar="true" MultiSelection="true" @bind-SelectedItems="selectedItems1" Hover="@hover" CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))">
                    <HeaderContent>
                        <MudTh>Service</MudTh>
                        <MudTh>Order No</MudTh>
                        <MudTh>House No</MudTh>
                        <MudTh>Master No</MudTh>
                        <MudTh>Job No</MudTh>
                        <MudTh>Booking No</MudTh>
                        <MudTh>Customer</MudTh>
                        <MudTh>Vessel</MudTh>
                        <MudTh>VOY</MudTh>
                        <MudTh>Consignee </MudTh>
                        <MudTh>Consignee Name</MudTh>
                        <MudTh>Door Date</MudTh>
                        <MudTh>ETD</MudTh>
                        <MudTh>ETA</MudTh>
                        <MudTh>Carrier</MudTh>
                        <MudTh>Carrier Name</MudTh>
                        <MudTh>POL</MudTh>
                        <MudTh>POL Name</MudTh>
                        <MudTh>POD</MudTh>
                        <MudTh>POD Name</MudTh>
                        <MudTh>Closing Date</MudTh>
                        <MudTh>Cntr Type</MudTh>
                        <MudTh>Cntr Qty</MudTh>
                        <MudTh>Sales Code</MudTh>
                        <MudTh>Sales Name</MudTh>
                        <MudTh>Incoterms</MudTh>
                        <MudTh>Load Type</MudTh>
                        <MudTh>SVC Term</MudTh>
                        <MudTh>Package</MudTh>
                        <MudTh>Unit</MudTh>
                        <MudTh>Weight OP</MudTh>
                        <MudTh>Status</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Service">@context.Service</MudTd>
                        <MudTd DataLabel="OrderNo">@context.OrderNo</MudTd>
                        <MudTd DataLabel="HouseNo">@context.HouseNo</MudTd>
                        <MudTd DataLabel="MasterNo">@context.MasterNo</MudTd>
                        <MudTd DataLabel="JobNo">@context.JobNo</MudTd>
                        <MudTd DataLabel="BookingNo">@context.BookingNo</MudTd>
                        <MudTd DataLabel="Customer">@context.Customer</MudTd>
                        <MudTd DataLabel="Vessel">@context.Vessel</MudTd>
                        <MudTd DataLabel="VOY">@context.VOY</MudTd>
                        <MudTd DataLabel="Consignee">@context.Consignee</MudTd>
                        <MudTd DataLabel="ConsigneeName">@context.ConsigneeName</MudTd>
                        <MudTd DataLabel="DoorDate">@context.DoorDate</MudTd>
                        <MudTd DataLabel="ETD">@context.ETD</MudTd>
                        <MudTd DataLabel="ETA">@context.ETA</MudTd>
                        <MudTd DataLabel="Carrier">@context.Carrier</MudTd>
                        <MudTd DataLabel="CarrierName">@context.CarrierName</MudTd>
                        <MudTd DataLabel="POL">@context.POL</MudTd>
                        <MudTd DataLabel="POLName">@context.POLName</MudTd>
                        <MudTd DataLabel="POD">@context.POD</MudTd>
                        <MudTd DataLabel="PODName">@context.PODName</MudTd>
                        <MudTd DataLabel="ClosingDate">@context.ClosingDate</MudTd>
                        <MudTd DataLabel="CntrType" Style="text-align: center">@context.CntrType</MudTd>
                        <MudTd DataLabel="CntrQty" Style="text-align: center">@context.CntrQty</MudTd>
                        <MudTd DataLabel="SalesCode">@context.SalesCode</MudTd>
                        <MudTd DataLabel="SalesName">@context.SalesName</MudTd>
                        <MudTd DataLabel="Incoterms">@context.Incoterms</MudTd>
                        <MudTd DataLabel="LoadType">@context.LoadType</MudTd>
                        <MudTd DataLabel="SVCTerm">@context.SVCTerm</MudTd>
                        <MudTd DataLabel="Package">@context.Package</MudTd>
                        <MudTd DataLabel="Unit" Style="text-align: center">@context.Unit</MudTd>
                        <MudTd DataLabel="WeightOP">@context.WeightOP</MudTd>
                        <MudTd DataLabel="Status">@context.Status</MudTd>

                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                    </PagerContent>

                </MudTable>
                <div class="d-flex flex-wrap mt-4">
                    <MudSwitch @bind-Checked="@dense1" Color="Color.Secondary">Thu hẹp</MudSwitch>
                    @*<MudSwitch @bind-Checked="@bordered2" Color="Color.Warning">Khung</MudSwitch>*@
                    <MudSpacer />

                </div>
            </MudItem>
        </MudGrid>
    </MudGrid>
</MudMainContent>

    @code {
        private bool dense1 = false;
        private string searchString;
        private bool hover = true;

        class Booking
        {
            public string Service;
            public string OrderNo;
            public string HouseNo;
            public string MasterNo;
            public string JobNo;
            public string BookingNo;
            public string Customer;
            public string Vessel;
            public string VOY;
            public string Consignee;
            public string ConsigneeName;
            public DateTime? DoorDate;
            public DateTime? ETD;
            public DateTime? ETA;
            public string Carrier;
            public string CarrierName;
            public string POL;
            public string POLName;
            public string POD;
            public string PODName;
            public string ClosingDate;
            public string CntrType;
            public string CntrQty;
            public string SalesCode;
            public string SalesName;
            public string Incoterms;
            public string LoadType;
            public string SVCTerm;
            public string Package;
            public string Unit;
            public string WeightOP;
            public string Status;
        }

        Booking[] bookings = new Booking[]
{
            new Booking { Service = "SEA", OrderNo = "Or-240921", HouseNo = "LSHCLI204198" , MasterNo = "KYHCMH2002775", JobNo = "NAP21-001" ,BookingNo="SGN0794274", Customer = "Công ty cổ phần Hà Thăng" , Vessel = "Maersk Discovery", VOY = "001" ,Consignee="SEIKO",
            ConsigneeName = "Công ty TNHH SEIKO VN", DoorDate = DateTime.Now, ETD = DateTime.Now , ETA = DateTime.Now, Carrier = "ABOU" ,CarrierName="ABOX SA", POL = "SH" , POLName = "SHANGHAI", POD = "CATLAI" ,PODName="CẢNG CÁT LÁI",
            ClosingDate = "", CntrType = "40", CntrQty = "1" , SalesCode = "Tamtt", SalesName = "Trần Thanh Tâm" , Incoterms = "CIF" ,LoadType="FCL",
            SVCTerm = "CY/CY", Package = "BOX", Unit = "kgs" , WeightOP = "6.500", Status = "Hoạt động"},
            new Booking { Service = "SEA", OrderNo = "Or-250921", HouseNo = "LNBCLI201697" , MasterNo = "SITGNBCL113569B", JobNo = "NAP21-002" ,BookingNo="855291456", Customer = "Công ty TNHH Mai Hương" , Vessel = "AKARI", VOY = "002" ,Consignee="Haivina",
            ConsigneeName = "Công ty TNHH Haivina", DoorDate = DateTime.Now, ETD = DateTime.Now , ETA = DateTime.Now, Carrier = "ADVU" ,CarrierName="ADVU INC", POL = "Ningbo" , POLName = "NINGBO ", POD = "HPH" ,PODName="CẢNG HẢI PHÒNG",
            ClosingDate = "", CntrType = "20", CntrQty = "1" , SalesCode = "NamLV", SalesName = "Lê Vĩnh Nam" , Incoterms = "FOB" ,LoadType="FCL",
            SVCTerm = "CFS-DOOR", Package = "BOX", Unit = "kgs" , WeightOP = "883.950", Status = "Hoạt động"},
            new Booking { Service = "SEA", OrderNo = "Or-280921", HouseNo = "HMSO-15001162" , MasterNo = "MOLU12014991846", JobNo = "NAP21-003" ,BookingNo="2601352270", Customer = "Công ty cổ phần Nhựa Châu Âu" , Vessel = "BIEN DONG NAVIGATOR", VOY = "510W" ,Consignee="FIT",
            ConsigneeName = "Công ty TNHH FIT Việt Nam", DoorDate = DateTime.Now, ETD = DateTime.Now , ETA = DateTime.Now, Carrier = "AGIP SPA" ,CarrierName="AGIP SPA", POL = "JPTYO" , POLName = "TOKYO ", POD = "HPH" ,PODName="CẢNG HẢI PHÒNG",
            ClosingDate = "", CntrType = "20", CntrQty = "1" , SalesCode = "SonLM", SalesName = "Lê Minh Sơn" , Incoterms = "CIF" ,LoadType="FCL",
            SVCTerm = "CY/CY", Package = "BAG", Unit = "KGS" , WeightOP = "14.020", Status = "Hoạt động"},
        };










        private HashSet<Booking> selectedItems1 = new HashSet<Booking>();
        private IEnumerable<Booking> Elements = new List<Booking>();
        protected override async Task OnInitializedAsync()
        {
            Elements = bookings;
        }

        private bool resetValueOnEmptyText;
        private bool coerceText;
        private bool coerceValue;
        private string value1, value2;

        private string[] states =
    {
        "Hà Nội", "Bắc Ninh", "TP HCM",
    };

        private string[] states2 =
    {
        "Xác nhận", "Treo", "Hủy",
    };

        private async Task<IEnumerable<string>> Search1(string value)
        {
            // In real life use an asynchronous function for fetching data from an api.
            await Task.Delay(5);

            // if text is null or empty, show complete list
            if (string.IsNullOrEmpty(value))
                return states;
            return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }

        private async Task<IEnumerable<string>> Search2(string value)
        {
            // In real life use an asynchronous function for fetching data from an api.
            await Task.Delay(5);

            // if text is null or empty, show complete list
            if (string.IsNullOrEmpty(value))
                return states2;
            return states2.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }
    }
