@page "/quotationseaba"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IDialogService DialogService
@using DiaLog
@inject ISnackbar Snackbar
<style>
    .mud-tab {
        justify-content: unset !important;
    }

    .mud-toolbar.mud-toolbar-gutters.toolbarCustom {
        padding-left: 6px;
        padding-right: 0px;
    }

    .searchcutom.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0px;
    }
</style>
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <MudContainer Class="mt-16">
        <MudGrid>
            <MudItem xs="12">

                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="6">
                        <MudText Style="line-height: 60px" Color="Color.Tertiary" Typo="Typo.h5" GutterBottom="true">Sea Quotation</MudText>
                    </MudItem>
                    <MudItem xs="6">
                        <MudToolBar Class="toolBar">
                            <MudSpacer />
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" ButtonType="ButtonType.Submit" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Save" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Print" />
                        </MudToolBar>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="Khách hàng" @bind-Value="model.KhachHang" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.KhachHang)" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="model.KhachHang" Label="Tên khách hàng" Variant="Variant.Outlined" For="@(() => model.KhachHang)" Margin="Margin.Dense"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField @bind-Value="model.SoBaoGia" Label="Số báo giá" Variant="Variant.Outlined" For="@(() => model.SoBaoGia)" Margin="Margin.Dense" Disabled="true"></MudTextField>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="PICKH" @bind-Value="model.PICKH" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.PICKH)" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField @bind-Value="model.SoDienThoai" Disabled="true" Variant="Variant.Outlined" For="@(() => model.SoDienThoai)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" AdornmentIcon="@Icons.Material.Filled.Phone" Adornment="Adornment.Start"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField @bind-Value="model.Email" Disabled="true" Variant="Variant.Outlined" For="@(() => model.Email)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" AdornmentIcon="@Icons.Material.Filled.Email" Adornment="Adornment.Start"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudDatePicker Label="Ngày phát hành" @bind-Date="model.NgayPhatHang" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" AdornmentColor="Color.Tertiary" For="@(() => model.NgayPhatHang)" Margin="Margin.Dense" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="Cảng đi" @bind-Value="model.CangDi" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.CangDi)" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="model.DiemDi" Label="Điểm đi" Variant="Variant.Outlined" For="@(() => model.DiemDi)" Margin="Margin.Dense"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudDatePicker Label="Ngày hiệu lực" @bind-Date="model.NgayHieuLuc" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" For="@(() => model.NgayHieuLuc)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="Cảng đến" @bind-Value="model.Cangden" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.Cangden)" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="model.DiemDen" Label="Điểm đến" Variant="Variant.Outlined" For="@(() => model.DiemDen)" Margin="Margin.Dense"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="Loại XNK" @bind-Value="model.LoaiXNK" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.LoaiXNK)" Margin="Margin.Dense" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="9">
                        <MudTextField @bind-Value="model.HangHoa" Label="Hàng Hóa" Variant="Variant.Outlined" For="@(() => model.HangHoa)" Margin="Margin.Dense"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudAutocomplete T="string" Label="Điều kiện giao hàng" @bind-Value="model.DieuKienGiaoHang" SearchFunc="@Search1"
                                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.DieuKienGiaoHang)" Margin="Margin.Dense" />
                    </MudItem>

                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="6" md="9">
                        <MudTextField @bind-Value="model.GhiChu" Label="Ghi Chú " Variant="Variant.Outlined" For="@(() => model.GhiChu)" Lines="3"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudGrid>
                            <MudItem xs="12" sm="6" md="12">
                                <MudAutocomplete T="string" Label="Trạng thái" @bind-Value="model.TrangThai" SearchFunc="@Search2"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.TrangThai)" Margin="Margin.Dense" />
                            </MudItem>


                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12" sm="6" md="12">
                                <MudAutocomplete T="string" Label="Nhân viên kinh doanh" @bind-Value="model.NhanVienKinhDoanh" SearchFunc="@Search2"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.NhanVienKinhDoanh)" Margin="Margin.Dense" />
                            </MudItem>


                        </MudGrid>
                    </MudItem>

                </MudGrid>



            </MudItem>
        </MudGrid>

    </MudContainer>
    <div Style="background-color: #c8d2d5; padding-top: 1px; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; margin-bottom: 20px; margin-top: 20px">
        <div style="background-color: white; padding-left: 10px; padding-right: 10px">


            <MudGrid Style="margin-top: 20px">
                <MudItem xs="12" sm="6" md="3">
                    <MudText Color="Color.Tertiary" Typo="Typo.h5" GutterBottom="true">Cước</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" md="9">
                    <MudTextField @bind-Value="model.GhiChu" Label="Mô tả" Variant="Variant.Outlined" For="@(() => model.GhiChu)" Margin="Margin.Dense"></MudTextField>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudTable Items="@Elements3" Style="white-space: nowrap" Context="tableRowContext" Dense="@dense1" MultiSelection="true" @bind-SelectedItems="selectedItems3" Hover="@hover" CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))">
                        <HeaderContent>
                            <MudTh>Mã hãng tàu</MudTh>
                            <MudTh>Tên hãng tàu</MudTh>
                            <MudTh>Cảng bốc</MudTh>
                            <MudTh>Cảng dỡ</MudTh>
                            <MudTh>Tiền tệ</MudTh>
                            <MudTh>Loại cont</MudTh>
                            <MudTh>20'</MudTh>
                            <MudTh>40'</MudTh>
                            <MudTh>HQ</MudTh>
                            <MudTh>Đ.V FCL</MudTh>
                            <MudTh>Giá LCL</MudTh>
                            <MudTh>DVT LCL</MudTh>
                            <MudTh>Ghi chú</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="MaHangTau">@tableRowContext.MaHangTau</MudTd>
                            <MudTd DataLabel="TenHangTau">@tableRowContext.TenHangTau</MudTd>
                            <MudTd DataLabel="CangBoc">@tableRowContext.CangBoc</MudTd>
                            <MudTd DataLabel="CangDo">@tableRowContext.CangDo</MudTd>
                            <MudTd DataLabel="TienTe">@tableRowContext.TienTe</MudTd>
                            <MudTd DataLabel="LoaiCont">@tableRowContext.LoaiCont</MudTd>
                            <MudTd DataLabel="HaiMuoiDC">@tableRowContext.HaiMuoiDC</MudTd>
                            <MudTd DataLabel="BonMuoiDC">@tableRowContext.BonMuoiDC</MudTd>
                            <MudTd DataLabel="HQ">@tableRowContext.HQ</MudTd>
                            <MudTd DataLabel="DVFCV">@tableRowContext.DVFCV</MudTd>
                            <MudTd DataLabel="GiaLCL">@tableRowContext.GiaLCL</MudTd>
                            <MudTd DataLabel="DVTLCL">@tableRowContext.DVTLCL</MudTd>
                            <MudTd DataLabel="GhiChu">@tableRowContext.GhiChu</MudTd>
                        </RowTemplate>
                        <RowEditingTemplate>
                            <MudTd DataLabel="MaHangTau">
                                <MudTextField @bind-Value="@tableRowContext.MaHangTau" Required />
                            </MudTd>
                            <MudTd DataLabel="TenHangTau">
                                <MudTextField @bind-Value="@tableRowContext.TenHangTau" />
                            </MudTd>
                            <MudTd DataLabel="CangBoc">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext.CangBoc" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => tableRowContext.CangBoc)" />
                            </MudTd>
                            <MudTd DataLabel="CangDo">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext.CangDo" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => tableRowContext.CangDo)" />
                            </MudTd>
                            <MudTd DataLabel="TienTe">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext.TienTe" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => tableRowContext.TienTe)" />
                            </MudTd>
                            <MudTd DataLabel="LoaiCont">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext.LoaiCont" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => tableRowContext.LoaiCont)" />
                            </MudTd>
                            <MudTd DataLabel="HaiMuoiDC">
                                <MudTextField @bind-Value="@tableRowContext.HaiMuoiDC" />
                            </MudTd>
                            <MudTd DataLabel="BonMuoiDC">
                                <MudTextField @bind-Value="@tableRowContext.BonMuoiDC" />
                            </MudTd>
                            <MudTd DataLabel="HQ">
                                <MudTextField @bind-Value="@tableRowContext.HQ" />
                            </MudTd>
                            <MudTd DataLabel="DVFCV">
                                <MudTextField @bind-Value="@tableRowContext.DVFCV" />
                            </MudTd>
                            <MudTd DataLabel="GiaLCL">
                                <MudTextField @bind-Value="@tableRowContext.GiaLCL" />
                            </MudTd>
                            <MudTd DataLabel="DVTLCL">
                                <MudTextField @bind-Value="@tableRowContext.DVTLCL" />
                            </MudTd>
                            <MudTd DataLabel="GhiChu">
                                <MudTextField @bind-Value="@tableRowContext.GhiChu" />
                            </MudTd>
                        </RowEditingTemplate>
                        <PagerContent>
                            <MudButton Variant="Variant.Text" FullWidth="true">Bấm vào để thêm dòng</MudButton>
                        </PagerContent>

                    </MudTable>

                </MudItem>
            </MudGrid>


            <MudGrid Style="margin-top: 20px">
                <MudItem xs="12" sm="6" md="3">
                    <MudText Color="Color.Tertiary" Typo="Typo.h5" GutterBottom="true">Cước khác</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" md="9">
                    <MudTextField @bind-Value="model.GhiChu" Label="Mô tả" Variant="Variant.Outlined" For="@(() => model.GhiChu)" Margin="Margin.Dense"></MudTextField>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudTable Items="@Elements2" Style="white-space: nowrap" Context="tableRowContext2" Dense="@dense2" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="@hover" CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))">
                        <HeaderContent>
                            <MudTh>Mã phí</MudTh>
                            <MudTh>Tên phí</MudTh>
                            <MudTh>Kiểu phí</MudTh>
                            <MudTh>Tiền tệ</MudTh>
                            <MudTh>Loại cont</MudTh>
                            <MudTh>20'</MudTh>
                            <MudTh>40'</MudTh>
                            <MudTh>HQ</MudTh>
                            <MudTh>FCL Unit</MudTh>
                            <MudTh>Giá LCL</MudTh>
                            <MudTh>DVT LCL</MudTh>
                            <MudTh>Ghi chú</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="MaPhi">@tableRowContext2.MaPhi</MudTd>
                            <MudTd DataLabel="TenPhi">@tableRowContext2.TenPhi</MudTd>
                            <MudTd DataLabel="KieuPhi">@tableRowContext2.KieuPhi</MudTd>
                            <MudTd DataLabel="TienTe">@tableRowContext2.TienTe</MudTd>
                            <MudTd DataLabel="LoaiCont">@tableRowContext2.LoaiCont</MudTd>
                            <MudTd DataLabel="HaiMuoiDC">@tableRowContext2.HaiMuoiDC</MudTd>
                            <MudTd DataLabel="BonMuoiDC">@tableRowContext2.BonMuoiDC</MudTd>
                            <MudTd DataLabel="HQ">@tableRowContext2.HQ</MudTd>
                            <MudTd DataLabel="FCLUnit">@tableRowContext2.FCLUnit</MudTd>
                            <MudTd DataLabel="GiaLCL">@tableRowContext2.GiaLCL</MudTd>
                            <MudTd DataLabel="DVTLCL">@tableRowContext2.DVTLCL</MudTd>
                            <MudTd DataLabel="GhiChu">@tableRowContext2.GhiChu</MudTd>
                        </RowTemplate>
                        <RowEditingTemplate>
                            <MudTd DataLabel="MaPhi">
                                <MudTextField @bind-Value="@tableRowContext2.MaPhi" Required />
                            </MudTd>
                            <MudTd DataLabel="TenPhi">
                                <MudTextField @bind-Value="@tableRowContext2.TenPhi" />
                            </MudTd>
                            <MudTd DataLabel="KieuPhi">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext2.KieuPhi" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @tableRowContext2.KieuPhi)" />
                            </MudTd>
                            <MudTd DataLabel="TienTe">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext2.TienTe" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @tableRowContext2.TienTe)" />
                            </MudTd>
                            <MudTd DataLabel="LoaiCont">
                                <MudAutocomplete T="string" @bind-Value="@tableRowContext2.LoaiCont" SearchFunc="@Search1"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                 CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @tableRowContext2.LoaiCont)" />
                            </MudTd>
                            <MudTd DataLabel="HaiMuoiDC">
                                <MudTextField @bind-Value="@tableRowContext2.HaiMuoiDC" />
                            </MudTd>
                            <MudTd DataLabel="BonMuoiDC">
                                <MudTextField @bind-Value="@tableRowContext2.BonMuoiDC" />
                            </MudTd>
                            <MudTd DataLabel="HQ">
                                <MudTextField @bind-Value="@tableRowContext2.HQ" />
                            </MudTd>
                            <MudTd DataLabel="FCLUnit">
                                <MudTextField @bind-Value="@tableRowContext2.FCLUnit" />
                            </MudTd>
                            <MudTd DataLabel="GiaLCL">
                                <MudTextField @bind-Value="@tableRowContext2.GiaLCL" />
                            </MudTd>
                            <MudTd DataLabel="DVTLCL">
                                <MudTextField @bind-Value="@tableRowContext2.DVTLCL" />
                            </MudTd>
                            <MudTd DataLabel="GhiChu">
                                <MudTextField @bind-Value="@tableRowContext2.GhiChu" />
                            </MudTd>
                        </RowEditingTemplate>
                        <PagerContent>
                            <MudButton Variant="Variant.Text" FullWidth="true">Bấm vào để thêm dòng</MudButton>
                        </PagerContent>

                    </MudTable>

                </MudItem>
            </MudGrid>

            <MudGrid Style="margin-top: 20px">
                <MudItem xs="12" sm="6" md="9">
                    <MudTextField @bind-Value="model1.GhiChu" Label="Ghi chú" Variant="Variant.Outlined" For="@(() => model1.GhiChu)" Lines="3" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="model1.LienHe" Label="Liên hệ" Variant="Variant.Outlined" For="@(() => model1.LienHe)" Lines="3" Margin="Margin.Dense"></MudTextField>
                </MudItem>
            </MudGrid>
        </div>
    </div>
</EditForm>
@code {
    private bool dense1 = true;
    private bool dense2 = true;
    Quotation model = new Quotation();
    GhiChuBaoGia model1 = new GhiChuBaoGia();
    public class GhiChuBaoGia
    {
        public string GhiChu { get; set; }
        public string LienHe { get; set; }
    }
    public class Quotation
    {
        public string SoBaoGia { get; set; }
        public string KhachHang { get; set; }
        public string PICKH { get; set; }
        [EmailAddress(ErrorMessage = "Email không đúng định dạng!")]
        public string Email { get; set; }
        public string SoDienThoai { get; set; }
        public string HangHoa { get; set; }
        public string Cangden { get; set; }
        public string DiemDen { get; set; }
        public string CangDi { get; set; }
        public string DiemDi { get; set; }
        public string LoaiXNK { get; set; }
        public string LoaiTai { get; set; }
        [Range(typeof(DateTime), "1/1/1970", "12/31/3000", ErrorMessage = "Value for {0} must be between {1} and {2}")]
        public DateTime? NgayHieuLuc { get; set; }
        [Range(typeof(DateTime), "1/1/1970", "12/31/3000", ErrorMessage = "Value for {0} must be between {1} and {2}")]
        public DateTime? NgayPhatHang { get; set; }
        public string NhanVienKinhDoanh { get; set; }
        public string TrangThai { get; set; }
        public string DieuKienGiaoHang { get; set; }
        public string MoTa { get; set; }
        public string GhiChu { get; set; }

    }

    bool success;
    string[] errors = { };
    private void OnValidSubmit(EditContext context)
    {
    }

    private void OnValidSubmit1(EditContext context)
    {
    }
    protected override async Task OnInitializedAsync()
    {
        Elements2 = detailcuockhacs;
        Elements3 = detailCuocs;
    }

    private void OpenOtherCharges()
    {
        DialogService.Show<DialogOtherChargesSEA>("Simple Dialog");
    }

    private void OpenFreightCharges()
    {
        DialogService.Show<DialogFreightChargesSEA>("Simple Dialog");
    }


    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private string value1, value2;
    private bool hover = true;
    public string searchString { get; set; }

    private string[] states =
{
        "Alabama", "Alaska", "American Samoa", "Arizona",
        "Arkansas", "California", "Colorado", "Connecticut",
        "Delaware", "District of Columbia", "Federated States of Micronesia",
        "Florida", "Georgia", "Guam", "Hawaii", "Idaho",
    };

    private string[] states2 =
    {
        "Xác nhận", "Treo", "Hủy",
    };

    private async Task<IEnumerable<string>> Search1(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return states;
        return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> Search2(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return states2;
        return states2.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    class DetailCuocKhac
    {
        public string MaPhi;
        public string TenPhi;
        public string KieuPhi;
        public string TienTe;
        public string LoaiCont;
        public string HaiMuoiDC;
        public string BonMuoiDC;
        public string HQ;
        public string FCLUnit;
        public string GiaLCL;
        public string DVTLCL;
        public string GhiChu;
    }

    class DetailCuoc
    {
        public string MaHangTau;
        public string TenHangTau;
        public string CangBoc;
        public string CangDo;
        public string TienTe;
        public string LoaiCont;
        public string HaiMuoiDC;
        public string BonMuoiDC;
        public string HQ;
        public string DVFCV;
        public string GiaLCL;
        public string DVTLCL;
        public string GhiChu;
    }



    DetailCuocKhac[] detailcuockhacs = new DetailCuocKhac[]
{
        new DetailCuocKhac { MaPhi = "OF", TenPhi = "Cước vận tải quốc tế",  KieuPhi = "Cước vận chuyển chính",  TienTe="VNĐ" , LoaiCont="40’DC", HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", FCLUnit="1000", GhiChu="", DVTLCL="CBM", GiaLCL="1.000.000"},
        new DetailCuocKhac { MaPhi = "THC", TenPhi = "Phí xếp dỡ", KieuPhi = "Phí THC",  TienTe="USD" , LoaiCont="20’DC",HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", FCLUnit="1000", GhiChu="", DVTLCL="Tons", GiaLCL="2.000.000"},
        new DetailCuocKhac { MaPhi = "DOC", TenPhi = "Phí chứng từ", KieuPhi = "Phí chứng từ",  TienTe="VNĐ"  , LoaiCont="40’DC",HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", FCLUnit="1000", GhiChu="", DVTLCL="CBM", GiaLCL="1.000.000"},
                            };


    DetailCuoc[] detailCuocs = new DetailCuoc[]
{
        new DetailCuoc { MaHangTau = "ABOU", TenHangTau = "ABOX SA",  CangBoc = "Cảng Hải Phòng",  TienTe="VNĐ" , CangDo="TOKYO – TOKYO,Japan", LoaiCont="40’DC", HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", DVFCV="1000", GhiChu="VNĐ" , DVTLCL="CBM", GiaLCL="1.000.000"},
        new DetailCuoc { MaHangTau = "AUSU", TenHangTau = "ACE LINES LTD", CangBoc = "Cảng Đà Nẵng",  TienTe="USD" , CangDo="Cảng Hải Phòng", LoaiCont="20’DC", HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", DVFCV="1000", GhiChu="VNĐ" , DVTLCL="Tons", GiaLCL="2.000.000"},
        new DetailCuoc { MaHangTau = "ADVU", TenHangTau = "ADV INC", CangBoc = "Dongxing China",  TienTe="VNĐ"  , CangDo="Cảng Chân Mây", LoaiCont="40’DC", HaiMuoiDC="1000", BonMuoiDC="1000", HQ="1000", DVFCV="1000", GhiChu="VNĐ" , DVTLCL="CBM", GiaLCL="1.000.000"},
                           };



    private HashSet<DetailCuocKhac> selectedItems = new HashSet<DetailCuocKhac>();
    private IEnumerable<DetailCuocKhac> Elements2 = new List<DetailCuocKhac>();

    private HashSet<DetailCuoc> selectedItems3 = new HashSet<DetailCuoc>();
    private IEnumerable<DetailCuoc> Elements3 = new List<DetailCuoc>();






}
