@page "/quotationother"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IDialogService DialogService
@using DiaLog
@inject ISnackbar Snackbar
<style>
    .mud-tab {
        justify-content: unset !important;
    }

    .mud-toolbar.mud-toolbar-gutters.toolbarCustom {
        padding-left: 6px;
        padding-right: 0px;
    }

    .searchcutom.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0px;
    }
</style>
<MudMainContent Class="pt-16 px-16">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <MudContainer Class="mt-16">
            <MudGrid>
                <MudItem xs="12">

                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="6">
                            <MudText Style="line-height: 60px" Color="Color.Tertiary" Typo="Typo.h5" GutterBottom="true">Báo giá khác</MudText>
                        </MudItem>
                        <MudItem xs="6">
                            <MudToolBar Class="toolBar">
                                <MudSpacer />
                                <MudIconButton Icon="@Icons.Material.Outlined.Add" ButtonType="ButtonType.Submit" />
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                                <MudIconButton Icon="@Icons.Material.Outlined.Save" />
                                <MudIconButton Icon="@Icons.Material.Outlined.Print" />
                            </MudToolBar>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="Khách hàng" @bind-Value="model.KhachHang" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.KhachHang)" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="model.KhachHang" Label="Tên khách hàng" Variant="Variant.Outlined" For="@(() => model.KhachHang)" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudTextField @bind-Value="model.SoBaoGia" Label="Số báo giá" Variant="Variant.Outlined" For="@(() => model.SoBaoGia)" Margin="Margin.Dense" Disabled="true"></MudTextField>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="PICKH" @bind-Value="model.PICKH" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.PICKH)" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudTextField @bind-Value="model.SoDienThoai" Disabled="true" Variant="Variant.Outlined" For="@(() => model.SoDienThoai)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" AdornmentIcon="@Icons.Material.Filled.Phone" Adornment="Adornment.Start"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudTextField @bind-Value="model.Email" Disabled="true" Variant="Variant.Outlined" For="@(() => model.Email)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" AdornmentIcon="@Icons.Material.Filled.Email" Adornment="Adornment.Start"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudDatePicker Label="Ngày phát hành" @bind-Date="model.NgayPhatHang" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" AdornmentColor="Color.Tertiary" For="@(() => model.NgayPhatHang)" Margin="Margin.Dense" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="Cảng đi" @bind-Value="model.CangDi" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.CangDi)" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="model.DiemDi" Label="Điểm đi" Variant="Variant.Outlined" For="@(() => model.DiemDi)" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudDatePicker Label="Ngày hiệu lực" @bind-Date="model.NgayHieuLuc" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" For="@(() => model.NgayHieuLuc)" Margin="Margin.Dense" AdornmentColor="Color.Tertiary" />
                        </MudItem>
                    </MudGrid>

                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="Cảng đến" @bind-Value="model.Cangden" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.Cangden)" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="model.DiemDen" Label="Điểm đến" Variant="Variant.Outlined" For="@(() => model.DiemDen)" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="Loại XNK" @bind-Value="model.LoaiXNK" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.LoaiXNK)" Margin="Margin.Dense" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="9">
                            <MudTextField @bind-Value="model.HangHoa" Label="Hàng Hóa" Variant="Variant.Outlined" For="@(() => model.HangHoa)" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudAutocomplete T="string" Label="Điều kiện giao hàng" @bind-Value="model.DieuKienGiaoHang" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.DieuKienGiaoHang)" Margin="Margin.Dense" />
                        </MudItem>

                    </MudGrid>

                    <MudGrid>
                        <MudItem xs="12" sm="6" md="9">
                            <MudTextField @bind-Value="model.GhiChu" Label="Ghi Chú " Variant="Variant.Outlined" For="@(() => model.GhiChu)" Lines="3"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudGrid>
                                <MudItem xs="12" sm="6" md="12">
                                    <MudAutocomplete T="string" Label="Trạng thái" @bind-Value="model.TrangThai" SearchFunc="@Search2"
                                                     ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                     CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.TrangThai)" Margin="Margin.Dense" />
                                </MudItem>


                            </MudGrid>
                            <MudGrid>
                                <MudItem xs="12" sm="6" md="12">
                                    <MudAutocomplete T="string" Label="Nhân viên kinh doanh" @bind-Value="model.NhanVienKinhDoanh" SearchFunc="@Search2"
                                                     ResetValueOnEmptyText="@resetValueOnEmptyText"
                                                     CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined" For="@(() => model.NhanVienKinhDoanh)" Margin="Margin.Dense" />
                                </MudItem>


                            </MudGrid>
                        </MudItem>

                    </MudGrid>



                </MudItem>
            </MudGrid>

        </MudContainer>







    </EditForm>

</MudMainContent>

<MudMainContent Style="background-color: #f5f5f5; padding: 60px 30px; margin-top: 60px">
    <div style="margin: 10px 20px 0px 20px; padding: 10px 0px 1px 0;; background-color: white; border-radius: 5px ">
        <MudGrid Style="margin-top: 10px; padding: 0px 20px 20px 20px">
            <MudItem xs="12" sm="6" md="3">
                <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true">Cước vận chuyển</MudText>
            </MudItem>
            <MudItem xs="12" sm="6" md="9">
                <MudTextField @bind-Value="model.GhiChu" Label="Mô tả" Variant="Variant.Outlined" For="@(() => model.GhiChu)" Margin="Margin.Dense"></MudTextField>
            </MudItem>
        </MudGrid>

        <MudGrid>
            <MudItem xs="12">
                <MudTable Items="@Elements3" Dense="@dense1" MultiSelection="true" @bind-SelectedItems="selectedItems3" Hover="@hover" CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))">
                    <HeaderContent>
                        <MudTh>Mã hãng VC</MudTh>
                        <MudTh>Hãng vận chuyển</MudTh>
                        <MudTh>Cảng bốc</MudTh>
                        <MudTh>Cảng dỡ</MudTh>
                        <MudTh Style="text-align: center">Tiền tệ</MudTh>
                        <MudTh Style="text-align: center">Mã phí</MudTh>
                        <MudTh>Tên phí</MudTh>
                        <MudTh Style="text-align: center">Giá đơn vị</MudTh>
                        <MudTh>Ghi chú</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="MaHangVanChuyen">@context.MaHangVanChuyen</MudTd>
                        <MudTd DataLabel="HangVanChuyen">@context.HangVanChuyen</MudTd>
                        <MudTd DataLabel="CangBoc">@context.CangBoc</MudTd>
                        <MudTd DataLabel="CangDo">@context.CangDo</MudTd>
                        <MudTd DataLabel="TienTe" Style="text-align: center">@context.TienTe</MudTd>
                        <MudTd DataLabel="MaPhi" Style="text-align: center">@context.MaPhi</MudTd>
                        <MudTd DataLabel="TenPhi">@context.TenPhi</MudTd>
                        <MudTd DataLabel="GiaDonVi" Style="text-align: right">@context.GiaDonVi</MudTd>
                        <MudTd DataLabel="GhiChu">@context.GhiChu</MudTd>
                    </RowTemplate>
                    <RowEditingTemplate>
                        <MudTd DataLabel="MaHangVanChuyen">
                            <MudTextField @bind-Value="@context.MaHangVanChuyen" Required />
                        </MudTd>
                        <MudTd DataLabel="HangVanChuyen">
                            <MudTextField @bind-Value="@context.HangVanChuyen" />
                        </MudTd>
                        <MudTd DataLabel="CangBoc">
                            <MudAutocomplete T="string" @bind-Value="@context.CangBoc" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @context.CangBoc)" />
                        </MudTd>
                        <MudTd DataLabel="CangDo">
                            <MudAutocomplete T="string" @bind-Value="@context.CangDo" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @context.CangDo)" />
                        </MudTd>
                        <MudTd DataLabel="TienTe">
                            <MudAutocomplete T="string" @bind-Value="@context.TienTe" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @context.TienTe)" />
                        </MudTd>
                        <MudTd DataLabel="MaPhi">
                            <MudTextField @bind-Value="@context.MaPhi" Required />
                        </MudTd>
                        <MudTd DataLabel="TenPhi">
                            <MudTextField @bind-Value="@context.TenPhi" Required />
                        </MudTd>
                        <MudTd DataLabel="GiaDonVi">
                            <MudTextField @bind-Value="@context.GiaDonVi" />
                        </MudTd>
                        <MudTd DataLabel="GhiChu">
                            <MudTextField @bind-Value="@context.GhiChu" />
                        </MudTd>
                    </RowEditingTemplate>
                    <PagerContent>
                        <MudButton Variant="Variant.Text" FullWidth="true">Bấm vào để thêm dòng</MudButton>
                    </PagerContent>

                </MudTable>

            </MudItem>
        </MudGrid>


    </div>

    <div style="margin: 35px 20px 0px 20px; padding: 10px 0px 1px 0;; background-color: white; border-radius: 5px ">
        <MudGrid Style="margin-top: 10px; padding: 0px 20px 20px 20px">
            <MudItem xs="12" sm="6" md="3">
                <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true">Cước khác</MudText>
            </MudItem>
            <MudItem xs="12" sm="6" md="9">
                <MudTextField @bind-Value="model.GhiChu" Label="Mô tả" Variant="Variant.Outlined" For="@(() => model.GhiChu)" Margin="Margin.Dense"></MudTextField>
            </MudItem>
        </MudGrid>

        <MudGrid>
            <MudItem xs="12">
                <MudTable Items="@Elements2" Dense="@dense2" Bordered="@bordered2" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="@hover" CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))">
                    <HeaderContent>
                        <MudTh>Mã phí</MudTh>
                        <MudTh>Tên phí</MudTh>
                        <MudTh>Kiểu phí</MudTh>
                        <MudTh Style="text-align: center">Tiền tệ</MudTh>
                        <MudTh Style="text-align: center">Giá đơn vị</MudTh>
                        <MudTh>Ghi chú</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="MaPhi">@context.MaPhi</MudTd>
                        <MudTd DataLabel="TenPhi">@context.TenPhi</MudTd>
                        <MudTd DataLabel="KieuPhi">@context.KieuPhi</MudTd>
                        <MudTd DataLabel="TienTe" Style="text-align: center">@context.TienTe</MudTd>
                        <MudTd DataLabel="GiaDonVi" Style="text-align: right">@context.GiaDonVi</MudTd>
                        <MudTd DataLabel="GhiChu">@context.GhiChu</MudTd>
                    </RowTemplate>
                    <RowEditingTemplate>
                        <MudTd DataLabel="MaPhi">
                            <MudTextField @bind-Value="@context.MaPhi" Required />
                        </MudTd>
                        <MudTd DataLabel="TenPhi">
                            <MudTextField @bind-Value="@context.TenPhi" />
                        </MudTd>
                        <MudTd DataLabel="KieuPhi">
                            <MudAutocomplete T="string" @bind-Value="@context.KieuPhi" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @context.KieuPhi)" />
                        </MudTd>
                        <MudTd DataLabel="TienTe">
                            <MudAutocomplete T="string" @bind-Value="@context.TienTe" SearchFunc="@Search1"
                                             ResetValueOnEmptyText="@resetValueOnEmptyText"
                                             CoerceText="@coerceText" CoerceValue="@coerceValue" For="@(() => @context.TienTe)" />
                        </MudTd>
                        <MudTd DataLabel="GiaDonVi">
                            <MudTextField @bind-Value="@context.GiaDonVi" />
                        </MudTd>
                        <MudTd DataLabel="GhiChu">
                            <MudTextField @bind-Value="@context.GhiChu" />
                        </MudTd>
                    </RowEditingTemplate>
                    <PagerContent>
                        <MudButton Variant="Variant.Text" FullWidth="true">Bấm vào để thêm dòng</MudButton>
                    </PagerContent>

                </MudTable>

            </MudItem>
        </MudGrid>


    </div>
    <MudGrid Style="margin-top: 20px; padding: 0 20px">
        <MudItem xs="12" sm="6" md="9">
            <MudTextField @bind-Value="model1.GhiChu" Style="background-color: white" Label="Ghi chú" Variant="Variant.Outlined" For="@(() => model1.GhiChu)" Lines="3" Margin="Margin.Dense"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudTextField @bind-Value="model1.LienHe" Style="background-color: white" Label="Liên hệ" Variant="Variant.Outlined" For="@(() => model1.LienHe)" Lines="3" Margin="Margin.Dense"></MudTextField>
        </MudItem>
    </MudGrid>
</MudMainContent>




    @code {
        private bool dense1 = false;
        private bool dense2 = false;

        private bool bordered1 = false;
        private bool bordered2 = false;
        Quotation model = new Quotation();
        GhiChuBaoGia model1 = new GhiChuBaoGia();
        public class GhiChuBaoGia
        {
            public string GhiChu { get; set; }
            public string LienHe { get; set; }
        }
        public class Quotation
        {
            public string SoBaoGia { get; set; }
            public string KhachHang { get; set; }
            public string PICKH { get; set; }
            [EmailAddress(ErrorMessage = "Email không đúng định dạng!")]
            public string Email { get; set; }
            public string SoDienThoai { get; set; }
            public string HangHoa { get; set; }
            public string Cangden { get; set; }
            public string DiemDen { get; set; }
            public string CangDi { get; set; }
            public string DiemDi { get; set; }
            public string LoaiXNK { get; set; }
            public string LoaiTai { get; set; }
            [Range(typeof(DateTime), "1/1/1970", "12/31/3000", ErrorMessage = "Value for {0} must be between {1} and {2}")]
            public DateTime? NgayHieuLuc { get; set; }
            [Range(typeof(DateTime), "1/1/1970", "12/31/3000", ErrorMessage = "Value for {0} must be between {1} and {2}")]
            public DateTime? NgayPhatHang { get; set; }
            public string NhanVienKinhDoanh { get; set; }
            public string TrangThai { get; set; }
            public string DieuKienGiaoHang { get; set; }
            public string MoTa { get; set; }
            public string GhiChu { get; set; }

        }

        bool success;
        string[] errors = { };
        private void OnValidSubmit(EditContext context)
        {
        }

        private void OnValidSubmit1(EditContext context)
        {
        }
        protected override async Task OnInitializedAsync()
        {
            Elements2 = detailcuockhacs;
            Elements3 = detailCuocs;
        }

        private void OpenOtherCharges()
        {
            DialogService.Show<DialogOtherCharges>("Simple Dialog");
        }

        private void OpenFreightCharges()
        {
            DialogService.Show<DiaLogFreightCharges>("Simple Dialog");
        }


        private bool resetValueOnEmptyText;
        private bool coerceText;
        private bool coerceValue;
        private string value1, value2;
        private bool hover = true;
        public string searchString { get; set; }

        private string[] states =
    {
        "Alabama", "Alaska", "American Samoa", "Arizona",
        "Arkansas", "California", "Colorado", "Connecticut",
        "Delaware", "District of Columbia", "Federated States of Micronesia",
        "Florida", "Georgia", "Guam", "Hawaii", "Idaho",
    };

        private string[] states2 =
        {
        "Xác nhận", "Treo", "Hủy",
    };

        private async Task<IEnumerable<string>> Search1(string value)
        {
            // In real life use an asynchronous function for fetching data from an api.
            await Task.Delay(5);

            // if text is null or empty, show complete list
            if (string.IsNullOrEmpty(value))
                return states;
            return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }

        private async Task<IEnumerable<string>> Search2(string value)
        {
            // In real life use an asynchronous function for fetching data from an api.
            await Task.Delay(5);

            // if text is null or empty, show complete list
            if (string.IsNullOrEmpty(value))
                return states2;
            return states2.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }

        class DetailCuocKhac
        {
            public string MaPhi;
            public string TenPhi;
            public string KieuPhi;
            public string TienTe;
            public string GiaDonVi;
            public string GhiChu;
        }

        class DetailCuoc
        {
            public string MaHangVanChuyen;
            public string HangVanChuyen;
            public string CangBoc;
            public string CangDo;
            public string TienTe;
            public string GiaDonVi;
            public string TenPhi;
            public string MaPhi;
            public string GhiChu;
        }

        DetailCuocKhac[] detailcuockhacs = new DetailCuocKhac[]
{
        new DetailCuocKhac { MaPhi = "CCF", TenPhi = "Phí thủ tục hải quan",  KieuPhi = "Phí thủ tục hải quan",  TienTe="VNĐ" , GiaDonVi="1.000.000", GhiChu=""},
        new DetailCuocKhac { MaPhi = "CDC", TenPhi = "Phí Khai hải quan", KieuPhi = "Phí khai hải quan",  TienTe="USD" , GiaDonVi="2000", GhiChu=""},
        new DetailCuocKhac { MaPhi = "HD", TenPhi = "Phí dịch vụ làm hàng", KieuPhi = "Phí dịch vụ làm hàng",  TienTe="VNĐ"  , GiaDonVi="1.000.000", GhiChu=""},
              };


        DetailCuoc[] detailCuocs = new DetailCuoc[]
    {
        new DetailCuoc { MaHangVanChuyen = "DHL", HangVanChuyen = "Công ty Cổ phần Giao nhận DHL",  CangBoc = "Cảng Hải Phòng",  TienTe="VNĐ" , CangDo="Cảng Đà Nẵng", GhiChu="", GiaDonVi="1.000.000",  TenPhi="Phí thủ tục hải quan",MaPhi="CCF", },
        new DetailCuoc { MaHangVanChuyen = "TRANSIMEX", HangVanChuyen = "Công ty CP transimex", CangBoc = "Sân bay nội bài",  TienTe="USD" , CangDo="Sân bay Tân Sơn Nhất", GhiChu="",  GiaDonVi="200", TenPhi="Phí khai hải quan",MaPhi="CDC", },
        new DetailCuoc { MaHangVanChuyen = "SOTRANS", HangVanChuyen = "Công ty Cổ phần kho vận Miền Nam", CangBoc = "Cảng Chân Mây",  TienTe="VNĐ"  , CangDo="Cảng Hải Phòng", GhiChu="", GiaDonVi="1.000.000", TenPhi="Phí dịch vụ làm hàng",MaPhi="HD", },
                           };






        private HashSet<DetailCuocKhac> selectedItems = new HashSet<DetailCuocKhac>();
        private IEnumerable<DetailCuocKhac> Elements2 = new List<DetailCuocKhac>();

        private HashSet<DetailCuoc> selectedItems3 = new HashSet<DetailCuoc>();
        private IEnumerable<DetailCuoc> Elements3 = new List<DetailCuoc>();






    }
